* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #fff;
  position: relative;
  padding-bottom: 45px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
}

body::after {
  content: "";
  display: block;
  position: absolute;
  width: 118px;
  top: 0;
  bottom: 0;
  left: 13%;
  background-color: #f9f9f9;
  z-index: -1;
}

.header,
.section {
  max-width: 82%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0;
}

.main-logo {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 900;
  line-height: 38.4px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #000000;
}

.nav-menu {
  display: inline-block;
  position: relative;
}

.link-menu {
  display: inline-block;
  position: relative;
  margin-right: 35px;
  font-size: 19px;
  font-weight: 400;
  line-height: 22.8px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #000000;
}

.link-menu:after {
  content: "";
  display: none;
  /* display: block; */
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #f2994a;
  position: absolute;
  margin: 0 50%;
  bottom: -16px;
}

.link-menu.active:after,
.link-menu:hover::after {
  display: block;
}

.link-menu:last-child {
  margin-right: 0;
}
.search-input {
  font-size: 19px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 1px;
  color: #000000;
  border: none;
  padding: 0 16px;
}

.search-input:focus-visible {
  outline: none;
}

.search-btn {
  background-color: white;
  border: none;
}

.section {
  display: flex;
  justify-content: space-between;
  padding: 110px 0 50px;
}

.photo-section {
  width: 35%;
}

.photo {
  width: 100%;
}

.main-info-section {
  width: 50%;
}

.info-wrapper {
  padding-right: 180px;
  border-right: 1px solid #333;
  margin-bottom: 32px;
}

.small-title {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 1px;
  color: #f2994a;
  margin-bottom: 10px;
  text-align: left;
}

.small-title::after {
  content: "+";
  position: absolute;
  right: 0;
  color: #3f9ab7;
}

.main-title {
  font-size: 65px;
  font-weight: 800;
  line-height: 78px;
  letter-spacing: 1px;
  margin-bottom: 70px;
}

.info-section {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 1px;
  color: #4f4f4f;
  position: relative;
  padding-top: 24px;
}

.info-section::before {
  content: "";
  display: block;
  background-color: #f2994a;
  width: 188px;
  height: 6px;
  border-radius: 4px;
  position: absolute;
  top: 0;
}

.section-play {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.img-play {
  width: 85px;
  height: 85px;
  background-color: #3f9ab7;
  padding: 24px 27px 25px;
  border-radius: 100%;
}

.img-play:hover {
  background-color: #f2994a;
}

.play {
  width: 100%;
}

.section-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  text-decoration: none;
  background-color: transparent;
  border-radius: 100%;
  position: relative;
  text-align: center;
  right: -16px;
  margin-bottom: 8px;
}

.social-links-items:hover {
  color: #ffffff;
  background-color: #f2994a;
}

.footer {
  background-color: #3f9ab7;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-footer {
  font-size: 24px;
  font-weight: 700;
  line-height: 32.74px;
  color: #ffffff;
}

.part-info-footer {
  font-size: 20px;
  font-weight: 400;
  line-height: 27.28px;
  color: #ffffff;
}

.footer-photos {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.photo {
  width: 100%;
}

.footer-photos:nth-child(2) {
  left: -10px;
}

.footer-photos:nth-child(3) {
  left: -20px;
}
