* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.page-with-cards {
  width: 1243px;
  margin: 0 auto;
  padding: 142px 0 128px;
}

.title-page {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px;
  color: #2d3640;
  margin: 0 auto;
}

.part-title-page {
  font-weight: 400;
  line-height: 80px;
  color: #2d3640;
}

.info-page {
  width: 695px;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  color: #2b292d;
  margin-bottom: 50px;
}

.user-card {
  float: left;
  margin-right: 20px;
}

.card-first {
  width: 295px;
  background-color: #ffffff;
  padding: 58px 0 122px;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
}

.user-card:last-child:last-child {
  margin-right: 0;
}

.img-card-first {
  margin: 0 auto;
}

.title-card-first {
  font-family: Catamaran, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #2d3640;
}

.info-card-first {
  font-family: Catamaran, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #4b4f52;
  margin: 0 auto 30px;
}

.logo {
  text-align: center;
  font-size: 0;
}

.logo-card-first {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding: 14px 10px 9px 10px;
  background-color: #41b883;
  margin-right: 15px;
  display: inline-block;
  overflow: hidden;
}

.logo-card {
  width: 30px;
  height: 27px;
}

.logo-card-second {
  width: 50px;
  height: auto;
  border-radius: 50%;
  margin-right: 15px;
}

.angular {
  background-color: #34474f;
  padding: 9px 10px;
}

.flutter {
  background-color: #202124;
  padding: 8px 10px 8px;
}

.react {
  background-color: #61dafb;
  padding: 9px 10px;
  margin-right: 0;
}

.logo-card-third {
  width: 50px;
  height: auto;
  border-radius: 50%;
  margin-right: 15px;
}

.java {
  background-color: #d63033;
  padding: 5px 10px;
}

.react2 {
  background-color: #0aa9d7;
  padding: 9px 10px;
  margin-right: 0;
}

.logo-card-fourth {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
}

.htmllogo {
  background-color: #e44e25;
  padding: 10px 10px;
}

.csslogo {
  background-color: #1073bb;
  padding: 10px 10px;
  margin-right: 0;
}

.img-logo {
  width: 20px;
  height: 28px;
}
